# Text files will be normalized to LF line endings in the Git database, and will keep those LF line
# endings in the working tree even on Windows. If you make changes below, you should renormalize the
# affected files by running the following from the root of this repo (requires Git 2.16 or greater):
#
# git add --renormalize .
# git status  [just to show what files were renormalized]
# git commit -m "Normalize line endings"

# Anything Git auto-detects as text gets normalized and checked out as LF
* text=auto eol=lf

# Explicitly set a bunch of known extensions to text, in case auto detection gets confused.
*.ql text
*.qll text
*.qlref text
*.dbscheme text
*.qhelp text
*.html text
*.htm text
*.xhtml text
*.xhtm text
*.js text
*.mjs text
*.ts text
*.json text
*.yml text
*.yaml text
*.c text
*.cpp text
*.h text
*.hpp text
*.md text
*.stats text
*.xml text
*.sh text
*.pl text
*.java text
*.cs text
*.py text
*.lua text
*.expected text

# Explicitly set a bunch of known extensions to binary, because Git < 2.10 will treat
# `* text=auto eol=lf` as `* text eol=lf`
*.png -text
*.jpg -text
*.jpeg -text
*.gif -text
*.dll -text
*.pdb -text

java/ql/test/stubs/**/*.java linguist-generated=true
java/ql/test/experimental/stubs/**/*.java linguist-generated=true

# Ignore the following files, which are synchronized by `sync-files.py`
# the one to show in diffs: java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll linguist-generated=true
java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll linguist-generated=true
java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll linguist-generated=true
java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll linguist-generated=true
java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll linguist-generated=true
java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll linguist-generated=true
cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll linguist-generated=true
cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll linguist-generated=true
cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll linguist-generated=true
cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll linguist-generated=true
cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll linguist-generated=true
cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll linguist-generated=true
cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll linguist-generated=true
cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll linguist-generated=true
cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll linguist-generated=true
csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll linguist-generated=true
csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll linguist-generated=true
csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll linguist-generated=true
csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll linguist-generated=true
csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll linguist-generated=true
python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll linguist-generated=true
python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll linguist-generated=true
python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll linguist-generated=true
python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll linguist-generated=true